<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:gutenberg-lab-blocks/villa-gallery-hero {"align":"full"} -->
<!-- wp:gutenberg-lab-blocks/villa-gallery-hero-media -->
<!-- wp:gutenberg-lab-blocks/villa-gallery-hero-slide /-->
<!-- /wp:gutenberg-lab-blocks/villa-gallery-hero-media -->

<!-- wp:gutenberg-lab-blocks/villa-gallery-hero-content -->
<!-- wp:post-title {"level":1,"fontSize":"six-xl"} /-->

<!-- wp:post-excerpt {"excerptLength":26,"moreText":"","showMoreOnNewLine":false} /-->

<!-- wp:buttons /-->
<!-- /wp:gutenberg-lab-blocks/villa-gallery-hero-content -->
<!-- /wp:gutenberg-lab-blocks/villa-gallery-hero -->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
